body{
    margin-left: 200px;
    padding: 20px;
    font-style: italic;
    font-family:sans-serif;
    background-image: url("ktm_790_duke_4k_2019.jpg");
    background-color: black;
    width: auto;
   background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: left;
}
/*a:hover{
  color:#ffaa00;
}*/
h3{
    font-size: 30px;
    text-transform:uppercase;
}
.login{
    margin-left: 200px;
    padding: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffaa00;
    width: 400px;  
    background: rgba(0,0,0,.2);
    box-sizing: border-box;
    box-shadow: 0 25px 35px rgba(0,0,0,.5);
    border-radius: 30px;
}
.login h3{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    
}
.login .input1{
    position: relative;
}
.login .input1 input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffaa00;
    margin-bottom:30px;
    border: none; 
    border-bottom: 2px solid #ffaa00;
    outline: none;
    background: transparent;
  
}

.login .input1 label{
   position: absolute;
    top:-30%;
    left:0 ;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.login button[type="submit"]{
    background:transparent;
    border: none;
    outline: none;
    color:#000000;
    background: #ffaa00;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 16px;
}
#active{
    background-color:#ffaa00;
}